* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* för en förklaring vad denna kod gör: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
}

body {
    background: white;
    color: black; /* all text kommer få svart färg */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    color: black;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 14px;
    line-height: 20px; /* line-height specificerar avståndet från olika rader i texten. */
}

nav {
    position: fixed; /* en blandning mellan absolute och sticky. Kommer fastna på toppen utav vår skärm */
    top: 0px; /* kommer fastna 0px från toppen utav skärmen*/
    width: 100%;
    padding: 10px 20px; /* 10px topp och botten, 20px vänster och höger */
    display: flex;
    justify-content: space-between; /* Inre element kommer ha maximalt mellanrum mellan varandra horisontellt */
    align-items: center; /* Centrera elementen vertikalt */
    border-bottom: solid 1px black; /* solid specificerar vilken typ av linje, 1px är tjockleken, black är för färgen*/
    background: white; /* utan en bakgrunds färg kommer man kunna se igenom vår navbar vilket kommer se väldigt konstigt ut, testa kommentera bort backgrounds färgen och skrolla så kommer du ser vad som menas*/
    z-index: 100; /* specificerar stacking nivån, alltså vilka element som kommer hamna framför den. I vårt fall säger vi att den har 100, vilket innebär att den alltid kommer vara längst fram om inte ett annat element har 101 eller mer */
}

.nav-links {
    display: flex; /* vi vill använda align-items i raden nedan, detta kräver att vårt element är en flexbox */
    align-items: center; /* centrera elementen vertikalt */
    gap: 10px; /* 10px mellanrum mellan alla bilder */
}

.nav-links img {
    width: 20px;
    height: 20px;
    cursor: pointer; /* ändrar muspekaren till "pointer", alltså en hand med ett finger. Detta visar anvandaren att hen kan trycka på den */
}

/* Hero */
.hero {
    height: 85vh; /* 85% utav hela skärmens höjd */
    display: flex;
    justify-content: center; /* centrera elementen horisontellt */
    align-items: center; /* centrera elementen vertikalt */
    max-width: 1000px; /* för att texten inte blir för bred på större skärmar */
    margin: 0 auto; /* 0px margin vertikalt, auto margin horisontellt kommer centrera vårt element */
}

.hero h1 {
    font-size: 48px;
    line-height: 1; /* line-height specificerar avståndet från olika rader i texten. line-height: 1; innebär att line-height är lika med fot-size vilket är 48px i det här fallet  */
}

.hero p {
    color: #4b5563; /* en grå/blå färg */
}

.hero h1,
.hero p {
    margin-bottom: 8px;
}

.hero-img {
    margin-right: 20px;
}

.hero-img img {
    height: 500px; /* sätter en fixed height, detta kommer ändras senare längre ner i koden för mindre skärmar */
}
/* Hero end */

.work {
    scroll-margin-top: 100px;
}

.work-title {
    text-align: center; /* centrera texten */
    font-size: 36px;
    line-height: 40px; /* line-height specificerar avståndet från olika rader i texten. */
    font-weight: 700; /* tjockleken på texten - kan ha alla värden som är hundratal från och med 100 till och med 900 */
    margin-bottom: 12px;
}

.work-subtitle {
    color: #6b7280; /* en ljusare grå/blå färg*/
    padding: 0px 20px 5px 20px; /* för en mer responsive design */
    max-width: 896px; /* för en mer responsive design, kommer stoppa texten från att bli för bred på större skärmar */
    margin: 0 auto; /* centrera vårt element, är för att assistera med raden ovan. Så att när vårt element kommer till sin max width så är den fortfarande centrerad */
    text-align: center; /* centrera texten */
}

.chips-wrapper {
    display: flex;
    flex-wrap: wrap; /* vi låter våra element att bryta ner till en ny rad ifall det ej får plats */
    gap: 8px; /* 8px mellanrum mellan alla våra element inuti */
    justify-content: center; /* centrera elementen horisontellt */
    margin: 8px 0px; /* 8px topp och botten, 0px vänster och höger */
    padding: 0px 12px; /* för en mer responsive design, vid mindre skärmar kommer det vara padding på kanten vilket gör att texten inte rör kanten  */
}

.chip {
    border-radius: 9999px; /* fullt rundade kanter */
    padding: 4px 12px; /* 4px topp  och botten, 12px vänster och höger */
    border: solid 1px black; /* solid specificerar vilken typ av linje, 1px är tjockleken, black är för färgen*/
    font-size: 14px;
}

/* Project start */
.projects-container {
    padding: 0px 20px; /* 0px topp och botten, 20px väster och höger*/
}

.project {
    margin: 40px auto; /* 40px ger mellanrum mellan alla projekt, auto centrerar elementet horisontellt*/
    max-width: 1024px; /* för större skärmar vill vi inte att projektet ska ta upp hela skärmens bredd, detta stoppar den från att bli större än 1024px*/
    height: 450px;
    border-radius: 10px;
    overflow: hidden; /* kommer gömma allt som inte får plats i .project containern */
    position: relative; /* Vi har element inuti med 'position: absolute' och vi vill att det ska vara vara relativa till detta element */
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative; /* Vi har element inuti med 'position: absolute' och vi vill att det ska vara vara relativa till detta element */
    transition: transform 150ms; /* för vår hover effekt, detta kommer ändra värdet på transform under 150ms istället för att det är instant */
}

.img-overlay {
    position: absolute;
    inset: 0; /* shortcut för top,right,bottom,left. Sätter alla dessa 4 värden till 0. Detta kommer se till att vårt element tar upp hela dess förälders height och width  */
    background: #26262699;
}

.project:hover .img-container {
    transform: scale(1.05); /* kommer göra hela diven 5% större */
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* object-fit är lite svårare att förklara, här är en 5 minuter video som förklarar det bra: https://youtu.be/gj4zoaigSqI */
}

.project-text-container {
    position: absolute; /* för en snabb genomgång över positions (4 min): https://youtu.be/3PDQDRJq5Ls */
    inset: 0; /* shortcut för top,right,bottom,left. Sätter alla dessa 4 värden till 0. Detta kommer se till att vårt element tar upp hela dess förälders height och width  */
    display: flex;
    flex-direction: column; /* kommer lägga alla dess inre element på y axeln istället för den vanliga x axeln*/
    justify-content: flex-end; /* kommer skjuta ner alla element längst ner */
    padding: 30px; /* 30px från alla håll */
}

.project-text-title {
    font-size: 36px;
    line-height: 40px; /* line-height specificerar avståndet från olika rader i texten. */
    color: rgb(224, 242, 254); /* en vit/blå färg */
    font-weight: 900; /* tjockleken på texten - kan ha alla värden som är hundratal från och med 100 till och med 900 */
}

.project-text-subtitle {
    color: rgb(240, 249, 255); /* en ljusare vit/blå färg*/
    font-size: 14px;
    margin-bottom: 12px;
}

.project-text-title,
.project-text-subtitle {
    font-family: 'Piazzolla', serif; /* 'Piazzolla' fonten är importerad från google fonts i vårt html dokument */
}
/* Project end */

footer {
    padding: 30px; /* 30px från alla håll */
    background: rgb(229, 231, 235); /* en ljus grå färg*/
}

.footer-license {
    text-align: center; /* centrera text*/
    color: rgb(75, 85, 99); /* en mörk grå färg */
}

button {
    border: solid 1px black; /* solid specificerar vilken typ av linje, 1px är tjockleken, black är för färgen*/
    border-radius: 6px; /* border-radius kommer göra kanterna lite rundare */
    transition: border-radius 150ms; /* för vår hover effekt, detta kommer ändra värdet på border-radius under 150ms istället för att det är instant */
    width: 128px; /* en fixed width så att alla knappar är lika stora */
    padding: 8px 0px; /* 8px topp och botten, 0px vänster och höger*/
    background: black;
    font-size: 14px;
    color: white;
    cursor: pointer; /* ändrar muspekaren till "pointer", alltså en han med ett finger. Detta visar anvandaren att hen kan trycka på den */
}

button:hover {
    border-radius: 10px;
}

button.white {
    background: white;
    color: black;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column; /* lägger alla element i rad på y axeln istället för den vanliga x axel */
        padding: 12px 20px; /* 12px topp och botten, 20px väster och höger */
        margin-top: 70px; /* för att undvika vår navbar*/
    }
    .hero h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .hero-img img {
        height: 420px;
    }
}

@media screen and (max-width: 724px) {
    p {
        font-size: 12px;
        line-height: 16px; /* line-height specificerar avståndet från olika rader i texten. */
    }

    .hero {
        min-height: unset; /* tar bort 85vh */
        margin-bottom: 40px; /* för att få lite utrymme från work sektionen */
    }

    .hero h1 {
        font-size: 24px;
        line-height: 32px; /* line-height specificerar avståndet från olika rader i texten. */
    }

    .hero-img img {
        height: min(60vh, 360px);
    }

    .work-title {
        font-size: 30px;
        line-height: 36px; /* line-height specificerar avståndet från olika rader i texten. */
        margin-bottom: 6px;
    }
    .chip {
        padding: 4px 10px;
        font-size: 12px;
    }

    .project {
        margin: 25px auto; /* ändrar margin på y axeln från 40px till 25px */
        height: 300px; /* sänker heighten för att bibehålla en någorlunda proportionalitet */
    }

    .project-text-title {
        font-size: 24px;
        line-height: 32px; /* line-height specificerar avståndet från olika rader i texten. */
        margin-bottom: 12px;
    }
    .project-text {
        padding: 20px; /* 20px från alla håll */
    }
}
